/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --primary-color: #42b983;
  --secondary-color: #35495e;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: #f5f5fa;
}
